.completed {
    text-decoration: line-through;
}

ul {
    list-style-position: inside;
    list-style-type: none;
    width: 25%;
}

li {
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
}